<div class="org-form">
  <form class="container" (ngSubmit)="submit()" #setupForm="ngForm">
    <div class="row justify-content-center">
      <div class="col-xs-6">
        <img
          class="register-page-logo login-page-logo"
          src="/assets/images/user-logo.PNG"
          alt="Avatar"
        />
      </div>
      <div class="col-xs-6 user-head" style="padding-top: 30px;">
        <h2 class="text-center innplat">Initiative</h2>
        <h4 class="text-center facch">Initial Setup</h4>
      </div>
    </div>
    <br />
    <div>
      <div class="input-box form-group form-inline row">
        <label for="orgSize" class="col">Org Size : </label>
        <select
          class="form-control col"
          id="organization"
          [(ngModel)]="initialSetup.organization"
          name="organization"
          required="required"
        >
          <option ngValue="Small">Small</option>
          <option ngValue="Medium-Size">Medium-Size</option>
          <option ngValue="Large">Large</option>
        </select>
      </div>
      <div class="input-box form-group form-inline row">
        <label for="environment" class="col">Environment : </label>
        <select
          class="form-control col"
          id="environment"
          [(ngModel)]="initialSetup.environment"
          name="environment"
          required="required"
        >
          <option ngValue="Project">Project</option>
          <option ngValue="Lean">Lean</option>
          <option ngValue="EA">EA</option>
          <option ngValue="Change Mgmt.">Change Mgmt.</option>
          <option ngValue="Entrepreneurship">Entrepreneurship</option>
        </select>
      </div>
      <div class="input-box form-group form-inline row">
        <label for="role" class="col">Role : </label>
        <select
          class="form-control col"
          id="role"
          [(ngModel)]="initialSetup.role"
          name="role"
          required="required"
        >
          <option ngValue="PM">PM</option>
          <option ngValue="Manager">Manager</option>
          <option ngValue="Team Lead">Team Lead</option>
          <option ngValue="Facilitator">Facilitator</option>
          <option ngValue="Innovation Lead">Innovation Lead</option>
        </select>
      </div>
      <div class="input-box form-group form-inline row">
        <label for="team" class="col">Team : </label>
        <select
          class="form-control col"
          id="team"
          [(ngModel)]="initialSetup.team"
          name="team"
          required="required"
        >
          <option ngValue="Small 3-5">Small (3-5)</option>
          <option ngValue="Medium 6-15">Medium (6-15)</option>
          <option ngValue="Large 16-60">Large (16-60)</option>
        </select>
      </div>

      <div class="input-box form-group form-inline row">
        <label for="sector" class="col">Industry Sector : </label>
        <select
          class="form-control col"
          id="sector"
          [(ngModel)]="initialSetup.sector"
          name="sector"
          required="required"
        >
          <option ngValue="Information Technology"
            >Information Technology</option
          >
          <option ngValue="Health Care">HealthCare</option>
        </select>
      </div>
    </div>
    <div class="input-box form-group row justify-content-center">
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="!setupForm.form.valid"
      >
        Submit
      </button>
    </div>
    <div class="input-box form-group row justify-content-center">
      <button type="button" (click)="back()" class="btn btn-primary btn-block">
        Go Back
      </button>
    </div>
  </form>
</div>
