<div class="register-form">
  <form class="container" (ngSubmit)="submit()" #registerForm="ngForm">
    <div class="row">
      <div class="col-xs-6">
        <img class="register-page-logo" src="/assets/images/user-logo.PNG" alt="Avatar">
      </div>
      <div class="col-xs-6 user-head">
        <h2 class="text-center header">User</h2>
        <h4 class="text-center sub-header">Initial Setup</h4>
      </div>
    </div>
    <div class="input-box form-group">
      <input type="text" class="form-control" [(ngModel)]="user.firstName" name="fname" placeholder="Firstname"
        required="required">
    </div>
    <div class="input-box form-group">
      <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lname" placeholder="Lastname"
        required="required">
    </div>
    <div class="input-box form-group">
      <input type="email" class="form-control" [(ngModel)]="user.email" name="email" placeholder="Email"
        required="required">
    </div>
    <div class="input-box form-group">
      <input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="Password"
        required="required">
    </div>
    <div class="input-box form-group">
      <input type="password" class="form-control" [(ngModel)]="user.confirmPassword" name="confirm-password"
        placeholder="Confirm Password" required="required">
    </div>
    <div class="error" *ngIf="error">
      {{error}}
    </div>
    <div class="input-box form-group">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!registerForm.form.valid">Submit</button>
    </div>
    <div class="input-box form-group">
      <button class="btn btn-primary btn-block" (click)="back()">Go Back</button>
    </div>
  </form>
</div>