<div class="register-form">
  <form class="container">
    <div class="row">
      <div class="col-xs-6">
        <img class="register-page-logo" src="/assets/images/user-logo.PNG" alt="Avatar">
      </div>
      <div class="col-xs-6 user-head">
        <h2 class="text-center header">User</h2>
        <h4 class="text-center sub-header">Initial Setup</h4>
      </div>
    </div>
    <div class="input-box form-group">
      <input type="text" class="form-control" placeholder="Firstname" required="required">
    </div>
    <div class="input-box form-group">
      <input type="text" class="form-control" placeholder="Lastname" required="required">
    </div>
    <div class="input-box form-group">
      <input type="text" class="form-control" placeholder="Email" required="required">
    </div>
    <div class="input-box form-group">
      <input type="password" class="form-control" placeholder="Password" required="required">
    </div>
    <div class="input-box form-group">
      <input type="password" class="form-control" placeholder="Confirm Password" required="required">
    </div>
    <div class="input-box form-group">
      <button type="submit" class="btn btn-primary btn-block" (click)="submit()">Submit</button>
    </div>
    <div class="input-box form-group">
      <button type="submit" class="btn btn-primary btn-block" (click)="back()">Go Back</button>
    </div>
  </form>
</div>