<div class="login-form">
  <form class="container">
    <h2 class="text-center innplat">User</h2>
    <h4 class="text-center facch">Initial Setup</h4>
    <img class="login-page-logo" src="/assets/images/login-page-logo.PNG" alt="Avatar">
    <div class="input-box form-group">
      <input type="text" class="form-control" placeholder="Firstname" required="required">
    </div>
    <div class="input-box form-group">
      <input type="text" class="form-control" placeholder="Lastname" required="required">
    </div>
    <div class="input-box form-group">
      <input type="text" class="form-control" placeholder="Email" required="required">
    </div>
    <div class="input-box form-group">
      <input type="password" class="form-control" placeholder="Password" required="required">
    </div>
    <div class="input-box form-group">
      <input type="password" class="form-control" placeholder="Confirm Password" required="required">
    </div>
    <div class="input-box form-group">
      <button type="submit" class="btn btn-primary btn-block" (click)="submit()">Submit</button>
    </div>
  </form>
</div>