.login-form {
  margin-top: 40px;
  text-align: center;
}
.register {
  margin-top: 15px;
}

.innplat {
  color: #007bff;
}

.facch {
  color: grey;
}

.error {
  background-color: #ea4444;
  color: white;
  padding: 6px;
  margin-bottom: 10px;
}
