.journey-card {
  background-color: #ececec;
}

.journey-page-logo {
  margin: 5px;
  border-radius: 50%;
  width: 100px;
}
.grid-exercise {
  padding: 5px;
}
.gap {
  margin: 5px;
  width: 100%;
}
.clicked {
  background-color: lightblue;
}
